@model sys.Models.Banner
@{
    ViewBag.Title = "修改Banner";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var aa = Model;
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.4.0/paper/bootstrap.min.css" rel="stylesheet" type="text/css" />
<h3>@ViewBag.Title</h3>


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Img, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Img, new { htmlAttributes = new { @class = "form-control", type = "file", required = "", accept = "image/*" } })
            @Html.ValidationMessageFor(model => model.Img, "", new { @class = "text-danger" })
            @*<input type="file" name="Img" required="" id="Img"/>*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" name="StartTime" required="" value="@ViewBag.StartTime" />
            <span style="color: red">@ViewBag.Message</span>
            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" name="EndTime" required="" value="@ViewBag.EndTime" />
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" name="EndTime" required="" value="@ViewBag.EndTime" />
            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="新增Banner" class="btn btn-default" />
            <a href="~/Admin/BKBanners" class="btn btn-default" style="padding-left: 10px">取消新增</a>
        </div>
    </div>
</div>
}
